body {
  background: #43523d;
}

#source-link {
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
}
